*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS */

body{
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

.container{
    max-width: 375px;
}

.wrapper{
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.205);
}

.img-box{
    margin-top: 8.5%;
    position: relative;
    max-width: 85%;
    height: 100%;
}

.img-box img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.img-box::after{
    position: absolute;
    content: url("assets/images/icon-view.svg");
    top: 0;
    opacity: 0;
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
    transition: opacity 0.4s;
}

.img-box::before{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    content: "";
    background-color: hsl(178, 100%, 50%, 60%);
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s;
}

.img-box:hover::after, .img-box:hover::before{
    opacity: 1;
}

.text-box{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.title h1{
    color: white;
    font-weight: 600;
    font-size: 1.25em;
    padding-top: 8.5%;
    letter-spacing: 1px;
    transition: color 0.4s;
}

.title h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.description p{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    padding-top: 6.5%;
    font-size: 0.95em;
    line-height: 25px;
}

.price-time{
    display: flex;
    justify-content: space-between;
    padding-top: 8.5%;
    align-items: center;
}

.price{
    display: flex;
    align-items: center;
}

.price img{
    width: 11%;
}

.price p{
    margin-left: 7px;
    font-size: 0.9em;
    font-weight: 400;
    color: hsl(178, 100%, 50%);
}

.time{
    display: flex;
    align-items: center;
}

.time img{
    width: 23%;
}

.time p{
    width: 100%;
    margin-left: 7px;
    font-size: 0.9em;
    color: hsl(215, 51%, 70%);
}

footer{
    display: flex;
    align-items: center;
    padding-top: 5%;
    margin-top: 5%;
    padding-bottom: 8.5%;
    border-top: 1px solid hsl(215, 51%, 70%, 30%);
}

footer img{
    width: 11%;
    border: 1px solid white;
    border-radius: 15px;
}

footer p{
    margin-left: 5%;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 0.95em;
}

footer a{
    text-decoration: none;
    color: white;
    transition: color 0.4s;
}

footer a:hover{
    color: hsl(178, 100%, 50%);
}

.attribution{
    font-size: 0.78em;
    color: white;
}

.attribution a{
    color: hsl(178, 100%, 50%);
}